*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: #000;
    display: flex;
}
@media only screen and (max-width:600px)/*Mobile*/{ 
    .container{
        display: block;
        width: 100%;
        height: 100%;
    }
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    position: fixed;
    background-color: rgb(110, 104, 104);
}
.navbar a{
    padding: 0.2rem;
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
}
.navbar ul{
    margin: 0.5rem;
}
.navbar a:hover{
    color: rgb(32, 146, 190);
    transition: 0.5s;
}
.text_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}
.text_principal h1{
    color: #fff;
    text-align: center;
    margin-top: 15rem; 
    font-size: 2rem;
    font-family: 'Ubuntu Mono', monospace;
}
.text_principal h3{
    color: #fff;
    text-align: center;   
    font-size: 1rem;
    font-family: 'Ubuntu Mono', monospace;
}
.sobre{
    margin-top: 35rem;
    text-align: center;
}
.sobre h1{
    color: #fff;
    font-size: 2rem;
    font-family: 'Ubuntu Mono', monospace;
}
.sobre p{
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    margin: 1.2rem;
    font-size: 1.3rem;
}
.sobre-img{
    width: 10rem;
    height: 10rem;
    border-radius:5rem;
    margin-top: 1rem;
}
.servicos{
    margin-top: 8rem;
}
.servicos h1{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 2rem;
}
.servicos p{
    color: #fff;
    font-family:'Ubuntu Mono', monospace;
    text-align: center;
    margin: 1rem;
    font-size: 1.1rem;
}
.servicos img{
    margin-top: 1rem;
    width: 100%;
    height: 7rem;
}
.contato{
    margin-top: 5rem;
}
.contato h1{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 2rem;
}

}

@media only screen and (min-width:601px) and (max-width:1024px)/*Tablet*/{
    .container{
        display: block;
        width: 100%;
        height: 100%;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content:center;
        width: 100%;
        position: fixed;
        background-color: rgb(110, 104, 104);
    }
    .navbar ul{
        margin: 0.5rem;
    }
    .navbar a{
        padding: 0.4rem;
        color: #fff;
        font-size: 1.8rem;
        font-family: 'Ubuntu Mono', monospace;
    }
    .navbar a:hover{
        color: rgb(32, 146, 190);
        transition: 0.5s;
    }
    .text_principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
    }
    .text_principal h1{
        color: #fff;
        text-align: center;
        margin-top: 25rem; 
        font-size: 4rem;
        font-family: 'Ubuntu Mono', monospace;
    }
    .text_principal h3{
        color: #fff;
        text-align: center;   
        font-size: 2rem;
        font-family: 'Ubuntu Mono', monospace;
    }
    .sobre{
        margin-top: 50rem;
        text-align: center;
    }
    .sobre h1{
        color: #fff;
        font-size: 4rem;
        font-family: 'Ubuntu Mono', monospace;
    }
    .sobre p{
        color: rgb(255, 255, 255);
        font-family: 'Ubuntu Mono', monospace;
        text-align: center;
        margin: 1.2rem;
        font-size: 1.6rem;
    }
    .sobre-img{
        width: 10rem;
        height: 10rem;
        border-radius:5rem;
        margin-top: 1rem;
    }
    .servicos{
        margin-top: 8rem;
    }
    .servicos h1{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        text-align: center;
        font-size: 4rem;
    }
    .servicos p{
        color: #fff;
        font-family:'Ubuntu Mono', monospace;
        text-align: center;
        margin: 1.5rem;
        font-size: 1.6rem;
    }
    .servicos img{
        margin-top: 1rem;
        width: 100%;
        height: 14rem;
    }
    .contato{
        margin-top: 8rem;
    }
    .contato h1{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        text-align: center;
        font-size: 4rem;
    }
}

@media only screen and (min-width:1025px)/*Desktop*/{
    .container{
        display: block;
        width: 100%;
        height: 100%;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        background-color: rgb(110, 104, 104);
    }
    .navbar ul{
        margin: 0.3rem;
    }
    .navbar a{
        padding: 0.8rem;
        font-size: 1.3rem;
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
    }
    .navbar a:hover{
        color: rgb(32, 146, 190);
        transition: 0.5s;
    }
    .text_principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6rem;
    }
    .text_principal h1{
        color: #fff;
        text-align: left;
        margin-top: 4rem; 
        font-size: 4rem;
        font-family: 'Ubuntu Mono', monospace;
    }
    .text_principal h3{
        color: #fff;
        text-align: left;   
        font-size: 2rem;
        font-family: 'Ubuntu Mono', monospace;
    }
    .sobre{
        margin-top: 50rem;
        text-align: center;
    }
    .sobre h1{
        color: #fff;
        font-size: 2rem;
        font-family: 'Ubuntu Mono', monospace;
    }
    .sobre{
        margin-top: 45rem;
        text-align: center;
    }
    .sobre h1{
        color: #fff;
        font-size: 4rem;
        font-family: 'Ubuntu Mono', monospace;
    }
    .sobre p{
        color: rgb(255, 255, 255);
        font-family: 'Ubuntu Mono', monospace;
        text-align: center;
        margin: 2rem;
        font-size: 1.7rem;
    }
    .sobre-img{
        width: 10rem;
        height: 10rem;
        border-radius:5rem;
        margin-top: 1rem;
    }
    .servicos{
        margin-top: 20rem;
    }
    .servicos h1{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        text-align: center;
        font-size: 4rem;
    }
    .servicos p{
        color: #fff;
        font-family:'Ubuntu Mono', monospace;
        text-align: center;
        margin: 2rem;
        font-size: 1.6rem;
    }
    .servicos img{
        margin-top: 1rem;
        width: 100%;
        height: 15rem;
    }
    .contato{
        margin-top: 8rem;
    }
    .contato h1{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        text-align: center;
        font-size: 4rem;
    }
}