
*{
    margin: 0;
    padding: 0;
    list-style-type:none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: #000;

}
@media only screen and (max-width:600px)/*Mobile*/{
.nav_top_rigth{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #000;
}
.nav_top_rigth ul{
    margin-top: 1rem;
}
.nav_top_rigth a{
    font-family: 'Ubuntu Mono', monospace;
    color: #fff;
    padding: 0.3rem;
}
.nav_top_rigth a:hover{
    color: rgb(33, 97, 20); 
}
.img-logo img{
    visibility: hidden;
}
.text-principal{
    margin-top: 3rem;
}
.text-principal h1{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 1.3rem;
}
.text-principal p{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    text-align: center;
    margin-top: 0.3rem;
}
button{
    visibility: hidden;

}
.sobre{
    text-align: center;
}
.sobre h1{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 37rem;
    font-size: 2rem;
    
}
.sobre p{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 1rem;
    margin: 1.2rem;
    text-align: center;
    font-size: 1.1rem;
}
.sobre-img{
    width: 10rem;
    height: 10rem;
    border-radius:5rem;
    margin-top: 1rem;
}

.servicos{
    text-align: center;
    float: left;
}
.servicos h1{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 7rem;
    text-align: center;
    font-size: 2rem;
}
.servicos p{
    color: #fff;
    font-family:'Ubuntu Mono', monospace;
    text-align: center;
    margin: 1.2rem;
    font-size: 1.1rem;
    float: left;
}
.servicos-img{
    width: 20rem;
    height: 10rem;
    border-radius:7rem;
    margin-top: 0.5rem;      

}

}
@media only screen and (min-width:601px) and (max-width:1024px)/*Tablet*/{
    .nav_top_rigth{
        float: right;
        margin-right: 0.4rem;
        margin-top: 1.8rem;
    }
    .nav_top_rigth a{
        font-family: 'Ubuntu Mono', monospace;
        color: #fff;
        padding:1rem;
        font-size: 1.2rem;
    }
    .nav_top_rigth a:hover{
        color: rgb(33, 97, 20); 
    }
    .img-logo{
        float: left;
        margin-left: 2rem;
    }
    .img-logo img{
        width: 5rem;
    }
    .text-principal{
        float: left;
        margin-top: 7rem;
    }
    .text-principal h1{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        text-align: center;
        font-size: 1.3rem;
    }
    .text-principal p{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1rem;
        margin-top: 0.1rem;
    }
    .btn{
        height: 2.3rem;
        width: 7rem;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        background-color: rgb(159, 167, 170);
        margin-top: 0.3rem;
    }
    .btn:hover{
        background-color: rgb(21, 108, 143);
        transition: 0.3s;
    }
.sobre{
    float: left;
    text-align: center;
    margin-top: 34rem;
}
.sobre h1{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
}
.sobre p{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 1rem;
    text-align: center;
    margin: 1.2rem;
    font-size: 1.3rem;
}
.sobre-img{
    width: 10rem;
    height: 10rem;
    border-radius:5rem;
    margin-top: 1rem;
}
.servicos{
    text-align: center;
    float: left;
}
.servicos h1{
    color: #fff;
    font-family:'Ubuntu Mono', monospace;
    margin-top: 7rem;
    text-align: center;
    font-size: 2rem;
}
.servicos p{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    margin: 1rem;
    font-size: 1.3rem;
    float: left;
}
.servicos-img{
    width: 30rem;
    height: 10rem;
    border-radius:7rem;
    margin-top: 0.5rem;      

}

}
@media only screen and (min-width:1025px)/*Desktop*/{
    .nav_top_rigth{
        text-align: right;
        position: fixed;
        width: 100%;
        height: 4rem;
        background-color: #000;
    }
    .nav_top_rigth ul{
        margin-top: 1rem;
    }
    .nav_top_rigth a{
        font-family: 'Ubuntu Mono', monospace;
        color: #fff;
        padding: 1rem;
        font-size: 1.2rem;
    }
    .nav_top_rigth a:hover{
        color: rgb(21, 108, 143); 
        transition: 0.6s;
    }   
    .img-logo{
        float: left;
        margin-left: 2rem;
    }
    .img-logo img{
        width: 5rem;
    }
    .text-principal{
        margin-top: 10rem;
        float: left;
    }
    .text-principal h1{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        text-align: center;
        font-size: 2.5rem;
    }
    .text-principal p{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.3rem;
        
    }
    .btn{
        height: 2.3rem;
        float: left;
        width: 7rem;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        background-color: rgb(159, 167, 170);
        margin-top: 0.2rem;
    }
    .btn:hover{
        background-color: rgb(21, 108, 143);
        transition: 0.3s;
    }
    .sobre{
        float: left;
        text-align: center;
        margin-top: 27rem;
    }
    .sobre h1{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 3rem;
    }
    .sobre p{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        margin-top: 1rem;
        text-align: center;
        margin-left: 1rem;
        font-size: 2rem;
        float: left;
    }
    .sobre-img{
        width: 13rem;
        height: 13rem;
        border-radius:7rem;
        margin-top: 1rem;
    }
    .servicos{
        float: left;
        text-align: center;
        margin-top: 15rem;
    }
    .servicos h1{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 3rem;
    }
    .servicos p{
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        margin-top: 1rem;
        text-align: center;
        margin: 1rem;
        font-size: 2rem;
        float: left;
    }
    .servicos-img{
        width: 50rem;
        height: 20rem;
        border-radius:7rem;
        margin-top: 1rem;   
        position: fixed;   
}
    .contato{
    float:left;
    text-align: center;
    margin-top: 25rem;
}
    .contato h1{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3rem;
}
.contato p{
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 1rem;
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    float: left;
}
}
